<div id="lightgallery" class="gallery">

  <div class="gallery-item photo" data-src="img/projects/photo/Double_Exposure/Double_Exposure.jpg"
    data-sub-html="Double Exposure | Ps">
    <p class="gallery__item-title">
      Double Exposure | <span>Ps</span>
    </p>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/photo/Double_Exposure/Double_Exposure@large@3x.webp 3x, img/projects/photo/Double_Exposure/Double_Exposure@large@2x.webp 2x, img/projects/photo/Double_Exposure/Double_Exposure@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/photo/Double_Exposure/Double_Exposure@large@3x.jpg 3x, img/projects/photo/Double_Exposure/Double_Exposure@large@2x.jpg 2x, img/projects/photo/Double_Exposure/Double_Exposure@large@1x.jpg 1x">

      <!-- <source type="image/webp" media="(min-width: 768px)"
        srcset="img/projects/photo/Double_Exposure/Double_Exposure@medium@3x.webp 3x, img/projects/photo/Double_Exposure/Double_Exposure@medium@2x.webp 2x, img/projects/photo/Double_Exposure/Double_Exposure@medium@1x.webp 1x">
      <source media="(min-width: 768px)"
        srcset="img/projects/photo/Double_Exposure/Double_Exposure@medium@3x.jpg 3x, img/projects/photo/Double_Exposure/Double_Exposure@medium@2x.jpg 2x, img/projects/photo/Double_Exposure/Double_Exposure@medium@1x.jpg 1x"> -->

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/photo/Double_Exposure/Double_Exposure@small@3x.webp 3x, img/projects/photo/Double_Exposure/Double_Exposure@small@2x.webp 2x, img/projects/photo/Double_Exposure/Double_Exposure@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/photo/Double_Exposure/Double_Exposure@small@3x.jpg 3x, img/projects/photo/Double_Exposure/Double_Exposure@small@2x.jpg 2x, img/projects/photo/Double_Exposure/Double_Exposure@small@1x.jpg 1x">

      <img src="img/projects/photo/Double_Exposure/Double_Exposure.jpg" title="Double Exposure" alt="Double Exposure"
        width="1081" height="856">
    </picture>
  </div>

  <div class="gallery-item photo" data-src="img/projects/photo/Simple_Double_Exposure/Simple_Double_Exposure.jpg"
    data-sub-html="Simple Double Exposure | Ps">
    <p class="gallery__item-title">
      Simple Double Exposure | <span>Ps</span>
    </p>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/photo/Simple_Double_Exposure/Simple_Double_Exposure@large@3x.webp 3x, img/projects/photo/Simple_Double_Exposure/Simple_Double_Exposure@large@2x.webp 2x, img/projects/photo/Simple_Double_Exposure/Simple_Double_Exposure@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/photo/Simple_Double_Exposure/Simple_Double_Exposure@large@3x.jpg 3x, img/projects/photo/Simple_Double_Exposure/Simple_Double_Exposure@large@2x.jpg 2x, img/projects/photo/Simple_Double_Exposure/Simple_Double_Exposure@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/photo/Simple_Double_Exposure/Simple_Double_Exposure@small@3x.webp 3x, img/projects/photo/Simple_Double_Exposure/Simple_Double_Exposure@small@2x.webp 2x, img/projects/photo/Simple_Double_Exposure/Simple_Double_Exposure@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/photo/Simple_Double_Exposure/Simple_Double_Exposure@small@3x.jpg 3x, img/projects/photo/Simple_Double_Exposure/Simple_Double_Exposure@small@2x.jpg 2x, img/projects/photo/Simple_Double_Exposure/Simple_Double_Exposure@small@1x.jpg 1x">

      <img src="img/projects/photo/Simple_Double_Exposure/Simple_Double_Exposure.jpg" alt="Simple Double Exposure"
        width="3456" height="5184">
    </picture>
  </div>

  <div class="gallery-item photo" data-src="img/projects/photo/Moon_Collage/Moon_Collage.jpg"
    data-sub-html="Moon Collage | Ps">
    <p class="gallery__item-title">
      Moon Collage | <span>Ps</span>
    </p>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/photo/Moon_Collage/Moon_Collage@large@3x.webp 3x, img/projects/photo/Moon_Collage/Moon_Collage@large@2x.webp 2x, img/projects/photo/Moon_Collage/Moon_Collage@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/photo/Moon_Collage/Moon_Collage@large@3x.jpg 3x, img/projects/photo/Moon_Collage/Moon_Collage@large@2x.jpg 2x, img/projects/photo/Moon_Collage/Moon_Collage@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/photo/Moon_Collage/Moon_Collage@small@3x.webp 3x, img/projects/photo/Moon_Collage/Moon_Collage@small@2x.webp 2x, img/projects/photo/Moon_Collage/Moon_Collage@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/photo/Moon_Collage/Moon_Collage@small@3x.jpg 3x, img/projects/photo/Moon_Collage/Moon_Collage@small@2x.jpg 2x, img/projects/photo/Moon_Collage/Moon_Collage@small@1x.jpg 1x">

      <img src="img/projects/photo/Moon_Collage/Moon_Collage.jpg" alt="Moon Collage" width="2000" height="2343">
    </picture>
  </div>

  <div class="gallery-item photo" data-src="img/projects/photo/Social_Media_Ad/Social_Media_Ad.jpg"
    data-sub-html="Social Media Ad | Ps">
    <p class="gallery__item-title">
      Social Media Ad | <span>Ps</span>
    </p>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/photo/Social_Media_Ad/Social_Media_Ad@large@3x.webp 3x, img/projects/photo/Social_Media_Ad/Social_Media_Ad@large@2x.webp 2x, img/projects/photo/Social_Media_Ad/Social_Media_Ad@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/photo/Social_Media_Ad/Social_Media_Ad@large@3x.jpg 3x, img/projects/photo/Social_Media_Ad/Social_Media_Ad@large@2x.jpg 2x, img/projects/photo/Social_Media_Ad/Social_Media_Ad@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/photo/Social_Media_Ad/Social_Media_Ad@small@3x.webp 3x, img/projects/photo/Social_Media_Ad/Social_Media_Ad@small@2x.webp 2x, img/projects/photo/Social_Media_Ad/Social_Media_Ad@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/photo/Social_Media_Ad/Social_Media_Ad@small@3x.jpg 3x, img/projects/photo/Social_Media_Ad/Social_Media_Ad@small@2x.jpg 2x, img/projects/photo/Social_Media_Ad/Social_Media_Ad@small@1x.jpg 1x">

      <img src="img/projects/photo/Social_Media_Ad/Social_Media_Ad.jpg" alt="Social Media Ad" width="1000"
        height="1000">
    </picture>
  </div>

  <div class="gallery-item photo" data-src="img/projects/photo/Double_Gradient/Double_Gradient.jpg"
    data-sub-html="Double Gradient | Ps">
    <p class="gallery__item-title">
      Double Gradient | <span>Ps</span>
    </p>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/photo/Double_Gradient/Double_Gradient@large@3x.webp 3x, img/projects/photo/Double_Gradient/Double_Gradient@large@2x.webp 2x, img/projects/photo/Double_Gradient/Double_Gradient@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/photo/Double_Gradient/Double_Gradient@large@3x.jpg 3x, img/projects/photo/Double_Gradient/Double_Gradient@large@2x.jpg 2x, img/projects/photo/Double_Gradient/Double_Gradient@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/photo/Double_Gradient/Double_Gradient@small@3x.webp 3x, img/projects/photo/Double_Gradient/Double_Gradient@small@2x.webp 2x, img/projects/photo/Double_Gradient/Double_Gradient@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/photo/Double_Gradient/Double_Gradient@small@3x.jpg 3x, img/projects/photo/Double_Gradient/Double_Gradient@small@2x.jpg 2x, img/projects/photo/Double_Gradient/Double_Gradient@small@1x.jpg 1x">

      <img src="img/projects/photo/Double_Gradient/Double_Gradient.jpg" alt="Double Gradient" width="2400"
        height="1600">
    </picture>
  </div>

  <div class="gallery-item photo" data-src="img/projects/photo/Glassmorphism/Glassmorphism.jpg"
    data-sub-html="Glassmorphism | Ps">
    <p class="gallery__item-title">
      Glassmorphism | <span>Ps</span>
    </p>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/photo/Glassmorphism/Glassmorphism@large@3x.webp 3x, img/projects/photo/Glassmorphism/Glassmorphism@large@2x.webp 2x, img/projects/photo/Glassmorphism/Glassmorphism@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/photo/Glassmorphism/Glassmorphism@large@3x.jpg 3x, img/projects/photo/Glassmorphism/Glassmorphism@large@2x.jpg 2x, img/projects/photo/Glassmorphism/Glassmorphism@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/photo/Glassmorphism/Glassmorphism@small@3x.webp 3x, img/projects/photo/Glassmorphism/Glassmorphism@small@2x.webp 2x, img/projects/photo/Glassmorphism/Glassmorphism@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/photo/Glassmorphism/Glassmorphism@small@3x.jpg 3x, img/projects/photo/Glassmorphism/Glassmorphism@small@2x.jpg 2x, img/projects/photo/Glassmorphism/Glassmorphism@small@1x.jpg 1x">

      <img src="img/projects/photo/Glassmorphism/Glassmorphism.jpg" alt="Glassmorphism" width="2000" height="2000">
    </picture>
  </div>

  <div class="gallery-item graphic" data-src="img/projects/graphic/Ice_Cream_Social_Ad/Ice_Cream_Social_Ad.jpg"
    data-sub-html="Ice Cream Social Ad | Ps">
    <p class="gallery__item-title">
      Ice Cream Social Ad | <span>Ps</span>
    </p>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/graphic/Ice_Cream_Social_Ad/Ice_Cream_Social_Ad@large@3x.webp 3x, img/projects/graphic/Ice_Cream_Social_Ad/Ice_Cream_Social_Ad@large@2x.webp 2x, img/projects/graphic/Ice_Cream_Social_Ad/Ice_Cream_Social_Ad@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/graphic/Ice_Cream_Social_Ad/Ice_Cream_Social_Ad@large@3x.jpg 3x, img/projects/graphic/Ice_Cream_Social_Ad/Ice_Cream_Social_Ad@large@2x.jpg 2x, img/projects/graphic/Ice_Cream_Social_Ad/Ice_Cream_Social_Ad@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/graphic/Ice_Cream_Social_Ad/Ice_Cream_Social_Ad@small@3x.webp 3x, img/projects/graphic/Ice_Cream_Social_Ad/Ice_Cream_Social_Ad@small@2x.webp 2x, img/projects/graphic/Ice_Cream_Social_Ad/Ice_Cream_Social_Ad@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/graphic/Ice_Cream_Social_Ad/Ice_Cream_Social_Ad@small@3x.jpg 3x, img/projects/graphic/Ice_Cream_Social_Ad/Ice_Cream_Social_Ad@small@2x.jpg 2x, img/projects/graphic/Ice_Cream_Social_Ad/Ice_Cream_Social_Ad@small@1x.jpg 1x">

      <img src="img/projects/graphic/Ice_Cream_Social_Ad/Ice_Cream_Social_Ad.jpg" alt="Ice Cream Social Ad" width="2000"
        height="2000">
    </picture>
  </div>

  <div class="gallery-item graphic" data-src="img/projects/graphic/Nike_Social_Ad/Nike_Social_Ad.jpg"
    data-sub-html="Nike Social Ad | Ps">
    <p class="gallery__item-title">
      Nike Social Ad | <span>Ps</span>
    </p>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/graphic/Nike_Social_Ad/Nike_Social_Ad@large@3x.webp 3x, img/projects/graphic/Nike_Social_Ad/Nike_Social_Ad@large@2x.webp 2x, img/projects/graphic/Nike_Social_Ad/Nike_Social_Ad@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/graphic/Nike_Social_Ad/Nike_Social_Ad@large@3x.jpg 3x, img/projects/graphic/Nike_Social_Ad/Nike_Social_Ad@large@2x.jpg 2x, img/projects/graphic/Nike_Social_Ad/Nike_Social_Ad@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/graphic/Nike_Social_Ad/Nike_Social_Ad@small@3x.webp 3x, img/projects/graphic/Nike_Social_Ad/Nike_Social_Ad@small@2x.webp 2x, img/projects/graphic/Nike_Social_Ad/Nike_Social_Ad@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/graphic/Nike_Social_Ad/Nike_Social_Ad@small@3x.jpg 3x, img/projects/graphic/Nike_Social_Ad/Nike_Social_Ad@small@2x.jpg 2x, img/projects/graphic/Nike_Social_Ad/Nike_Social_Ad@small@1x.jpg 1x">

      <img src="img/projects/graphic/Nike_Social_Ad/Nike_Social_Ad.jpg" alt="Nike Social Ad" width="2000" height="2000">
    </picture>
  </div>

  <div class="gallery-item graphic" data-src="img/projects/graphic/Simple_Social_Ad/Simple_Social_Ad.jpg"
    data-sub-html="Simple Social Ad | Ps">
    <p class="gallery__item-title">
      Simple Social Ad | <span>Ps</span>
    </p>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/graphic/Simple_Social_Ad/Simple_Social_Ad@large@3x.webp 3x, img/projects/graphic/Simple_Social_Ad/Simple_Social_Ad@large@2x.webp 2x, img/projects/graphic/Simple_Social_Ad/Simple_Social_Ad@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/graphic/Simple_Social_Ad/Simple_Social_Ad@large@3x.jpg 3x, img/projects/graphic/Simple_Social_Ad/Simple_Social_Ad@large@2x.jpg 2x, img/projects/graphic/Simple_Social_Ad/Simple_Social_Ad@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/graphic/Simple_Social_Ad/Simple_Social_Ad@small@3x.webp 3x, img/projects/graphic/Simple_Social_Ad/Simple_Social_Ad@small@2x.webp 2x, img/projects/graphic/Simple_Social_Ad/Simple_Social_Ad@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/graphic/Simple_Social_Ad/Simple_Social_Ad@small@3x.jpg 3x, img/projects/graphic/Simple_Social_Ad/Simple_Social_Ad@small@2x.jpg 2x, img/projects/graphic/Simple_Social_Ad/Simple_Social_Ad@small@1x.jpg 1x">

      <img src="img/projects/graphic/Simple_Social_Ad/Simple_Social_Ad.jpg" alt="Simple Social Ad" width="2500"
        height="2500">
    </picture>
  </div>

  <div class="gallery-item graphic" data-src="img/projects/graphic/Retro_Cover_Art/Retro_Cover_Art.jpg"
    data-sub-html="Retro Cover Art | Ps">
    <p class="gallery__item-title">
      Retro Cover Art | <span>Ps</span>
    </p>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/graphic/Retro_Cover_Art/Retro_Cover_Art@large@3x.webp 3x, img/projects/graphic/Retro_Cover_Art/Retro_Cover_Art@large@2x.webp 2x, img/projects/graphic/Retro_Cover_Art/Retro_Cover_Art@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/graphic/Retro_Cover_Art/Retro_Cover_Art@large@3x.jpg 3x, img/projects/graphic/Retro_Cover_Art/Retro_Cover_Art@large@2x.jpg 2x, img/projects/graphic/Retro_Cover_Art/Retro_Cover_Art@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/graphic/Retro_Cover_Art/Retro_Cover_Art@small@3x.webp 3x, img/projects/graphic/Retro_Cover_Art/Retro_Cover_Art@small@2x.webp 2x, img/projects/graphic/Retro_Cover_Art/Retro_Cover_Art@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/graphic/Retro_Cover_Art/Retro_Cover_Art@small@3x.jpg 3x, img/projects/graphic/Retro_Cover_Art/Retro_Cover_Art@small@2x.jpg 2x, img/projects/graphic/Retro_Cover_Art/Retro_Cover_Art@small@1x.jpg 1x">

      <img src="img/projects/graphic/Retro_Cover_Art/Retro_Cover_Art.jpg" alt="Retro Cover Art" width="1000"
        height="1000">
    </picture>
  </div>

  <div class="gallery-item graphic" data-src="img/projects/graphic/Vaporwave/Vaporwave.jpg"
    data-sub-html="Vaporwave | Ps">
    <p class="gallery__item-title">
      Vaporwave | <span>Ps</span>
    </p>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/graphic/Vaporwave/Vaporwave@large@3x.webp 3x, img/projects/graphic/Vaporwave/Vaporwave@large@2x.webp 2x, img/projects/graphic/Vaporwave/Vaporwave@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/graphic/Vaporwave/Vaporwave@large@3x.jpg 3x, img/projects/graphic/Vaporwave/Vaporwave@large@2x.jpg 2x, img/projects/graphic/Vaporwave/Vaporwave@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/graphic/Vaporwave/Vaporwave@small@3x.webp 3x, img/projects/graphic/Vaporwave/Vaporwave@small@2x.webp 2x, img/projects/graphic/Vaporwave/Vaporwave@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/graphic/Vaporwave/Vaporwave@small@3x.jpg 3x, img/projects/graphic/Vaporwave/Vaporwave@small@2x.jpg 2x, img/projects/graphic/Vaporwave/Vaporwave@small@1x.jpg 1x">

      <img src="img/projects/graphic/Vaporwave/Vaporwave.jpg" alt="Vaporwave" width="1500" height="2000">
    </picture>
  </div>

  <div class="gallery-item graphic" data-src="img/projects/graphic/Simple_Cover_Art/Simple_Cover_Art.jpg"
    data-sub-html="Simple Cover Art | Ps">
    <p class="gallery__item-title">
      Simple Cover Art | <span>Ps</span>
    </p>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/graphic/Simple_Cover_Art/Simple_Cover_Art@large@3x.webp 3x, img/projects/graphic/Simple_Cover_Art/Simple_Cover_Art@large@2x.webp 2x, img/projects/graphic/Simple_Cover_Art/Simple_Cover_Art@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/graphic/Simple_Cover_Art/Simple_Cover_Art@large@3x.jpg 3x, img/projects/graphic/Simple_Cover_Art/Simple_Cover_Art@large@2x.jpg 2x, img/projects/graphic/Simple_Cover_Art/Simple_Cover_Art@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/graphic/Simple_Cover_Art/Simple_Cover_Art@small@3x.webp 3x, img/projects/graphic/Simple_Cover_Art/Simple_Cover_Art@small@2x.webp 2x, img/projects/graphic/Simple_Cover_Art/Simple_Cover_Art@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/graphic/Simple_Cover_Art/Simple_Cover_Art@small@3x.jpg 3x, img/projects/graphic/Simple_Cover_Art/Simple_Cover_Art@small@2x.jpg 2x, img/projects/graphic/Simple_Cover_Art/Simple_Cover_Art@small@1x.jpg 1x">

      <img src="img/projects/graphic/Simple_Cover_Art/Simple_Cover_Art.jpg" alt="Simple Cover Art" width="2000"
        height="2000">
    </picture>
  </div>

  <div class="gallery-item illustration"
    data-src="img/projects/illustration/Isometric_Norwegian_Wood/Isometric_Norwegian_Wood.jpg"
    data-sub-html="Isometric Norwegian Wood | Ai">
    <p class="gallery__item-title">
      Isometric Norwegian Wood | <span>Ai</span>
    </p>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/illustration/Isometric_Norwegian_Wood/Isometric_Norwegian_Wood@large@3x.webp 3x, img/projects/illustration/Isometric_Norwegian_Wood/Isometric_Norwegian_Wood@large@2x.webp 2x, img/projects/illustration/Isometric_Norwegian_Wood/Isometric_Norwegian_Wood@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/illustration/Isometric_Norwegian_Wood/Isometric_Norwegian_Wood@large@3x.jpg 3x, img/projects/illustration/Isometric_Norwegian_Wood/Isometric_Norwegian_Wood@large@2x.jpg 2x, img/projects/illustration/Isometric_Norwegian_Wood/Isometric_Norwegian_Wood@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/illustration/Isometric_Norwegian_Wood/Isometric_Norwegian_Wood@small@3x.webp 3x, img/projects/illustration/Isometric_Norwegian_Wood/Isometric_Norwegian_Wood@small@2x.webp 2x, img/projects/illustration/Isometric_Norwegian_Wood/Isometric_Norwegian_Wood@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/illustration/Isometric_Norwegian_Wood/Isometric_Norwegian_Wood@small@3x.jpg 3x, img/projects/illustration/Isometric_Norwegian_Wood/Isometric_Norwegian_Wood@small@2x.jpg 2x, img/projects/illustration/Isometric_Norwegian_Wood/Isometric_Norwegian_Wood@small@1x.jpg 1x">

      <img src="img/projects/illustration/Isometric_Norwegian_Wood/Isometric_Norwegian_Wood.jpg"
        alt="Isometric Norwegian Wood" width="4000" height="2334">
    </picture>
  </div>

  <div class="gallery-item illustration" data-src="img/projects/illustration/Mandala/Mandala.jpg"
    data-sub-html="Mandala | Ps">
    <p class="gallery__item-title">
      Mandala | <span>Ps</span>
    </p>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/illustration/Mandala/Mandala@large@3x.webp 3x, img/projects/illustration/Mandala/Mandala@large@2x.webp 2x, img/projects/illustration/Mandala/Mandala@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/illustration/Mandala/Mandala@large@3x.jpg 3x, img/projects/illustration/Mandala/Mandala@large@2x.jpg 2x, img/projects/illustration/Mandala/Mandala@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/illustration/Mandala/Mandala@small@3x.webp 3x, img/projects/illustration/Mandala/Mandala@small@2x.webp 2x, img/projects/illustration/Mandala/Mandala@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/illustration/Mandala/Mandala@small@3x.jpg 3x, img/projects/illustration/Mandala/Mandala@small@2x.jpg 2x, img/projects/illustration/Mandala/Mandala@small@1x.jpg 1x">

      <img src="img/projects/illustration/Mandala/Mandala.jpg" alt="Mandala" width="1000" height="1000">
    </picture>
  </div>

  <div class="gallery-item typography" data-src="img/projects/type/Floral_Typography/Floral_Typography.jpg"
    data-sub-html="Floral Typography | Ps">
    <p class="gallery__item-title">
      Floral Typography | <span>Ps</span>
    </p>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/type/Floral_Typography/Floral_Typography@large@3x.webp 3x, img/projects/type/Floral_Typography/Floral_Typography@large@2x.webp 2x, img/projects/type/Floral_Typography/Floral_Typography@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/type/Floral_Typography/Floral_Typography@large@3x.jpg 3x, img/projects/type/Floral_Typography/Floral_Typography@large@2x.jpg 2x, img/projects/type/Floral_Typography/Floral_Typography@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/type/Floral_Typography/Floral_Typography@small@3x.webp 3x, img/projects/type/Floral_Typography/Floral_Typography@small@2x.webp 2x, img/projects/type/Floral_Typography/Floral_Typography@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/type/Floral_Typography/Floral_Typography@small@3x.jpg 3x, img/projects/type/Floral_Typography/Floral_Typography@small@2x.jpg 2x, img/projects/type/Floral_Typography/Floral_Typography@small@1x.jpg 1x">

      <img src="img/projects/type/Floral_Typography/Floral_Typography.jpg" alt="Floral Typography" width="3000"
        height="4000">
    </picture>
  </div>

  <div class="gallery-item typography" data-src="img/projects/type/Floral_Typography_2/Floral_Typography_2.jpg"
    data-sub-html="Floral Typography 2 | Ps">
    <p class="gallery__item-title">
      Floral Typography 2 | <span>Ps</span>
    </p>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/type/Floral_Typography_2/Floral_Typography_2@large@3x.webp 3x, img/projects/type/Floral_Typography_2/Floral_Typography_2@large@2x.webp 2x, img/projects/type/Floral_Typography_2/Floral_Typography_2@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/type/Floral_Typography_2/Floral_Typography_2@large@3x.jpg 3x, img/projects/type/Floral_Typography_2/Floral_Typography_2@large@2x.jpg 2x, img/projects/type/Floral_Typography_2/Floral_Typography_2@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/type/Floral_Typography_2/Floral_Typography_2@small@3x.webp 3x, img/projects/type/Floral_Typography_2/Floral_Typography_2@small@2x.webp 2x, img/projects/type/Floral_Typography_2/Floral_Typography_2@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/type/Floral_Typography_2/Floral_Typography_2@small@3x.jpg 3x, img/projects/type/Floral_Typography_2/Floral_Typography_2@small@2x.jpg 2x, img/projects/type/Floral_Typography_2/Floral_Typography_2@small@1x.jpg 1x">

      <img src="img/projects/type/Floral_Typography_2/Floral_Typography_2.jpg" alt="Floral Typography 2" width="1920"
        height="2024">
    </picture>
  </div>

  <div class="gallery-item typography" data-src="img/projects/type/Isometric_Typography/Isometric_Typography.jpg"
    data-sub-html="Isometric Typography | Ai Ps">
    <p class="gallery__item-title">
      Isometric Typography | <span>Ai Ps</span>
    </p>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/type/Isometric_Typography/Isometric_Typography@large@3x.webp 3x, img/projects/type/Isometric_Typography/Isometric_Typography@large@2x.webp 2x, img/projects/type/Isometric_Typography/Isometric_Typography@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/type/Isometric_Typography/Isometric_Typography@large@3x.jpg 3x, img/projects/type/Isometric_Typography/Isometric_Typography@large@2x.jpg 2x, img/projects/type/Isometric_Typography/Isometric_Typography@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/type/Isometric_Typography/Isometric_Typography@small@3x.webp 3x, img/projects/type/Isometric_Typography/Isometric_Typography@small@2x.webp 2x, img/projects/type/Isometric_Typography/Isometric_Typography@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/type/Isometric_Typography/Isometric_Typography@small@3x.jpg 3x, img/projects/type/Isometric_Typography/Isometric_Typography@small@2x.jpg 2x, img/projects/type/Isometric_Typography/Isometric_Typography@small@1x.jpg 1x">

      <img src="img/projects/type/Isometric_Typography/Isometric_Typography.jpg" alt="Isometric Typography" width="2000"
        height="2000">
    </picture>
  </div>

  <div class="gallery-item typography" data-src="img/projects/type/Isometric_Typography_2/Isometric_Typography_2.jpg"
    data-sub-html="Isometric Typography | Ps">
    <p class="gallery__item-title">
      Isometric Typography 2 | <span>Ps</span>
    </p>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/type/Isometric_Typography_2/Isometric_Typography_2@large@3x.webp 3x, img/projects/type/Isometric_Typography_2/Isometric_Typography_2@large@2x.webp 2x, img/projects/type/Isometric_Typography_2/Isometric_Typography_2@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/type/Isometric_Typography_2/Isometric_Typography_2@large@3x.jpg 3x, img/projects/type/Isometric_Typography_2/Isometric_Typography_2@large@2x.jpg 2x, img/projects/type/Isometric_Typography_2/Isometric_Typography_2@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/type/Isometric_Typography_2/Isometric_Typography_2@small@3x.webp 3x, img/projects/type/Isometric_Typography_2/Isometric_Typography_2@small@2x.webp 2x, img/projects/type/Isometric_Typography_2/Isometric_Typography_2@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/type/Isometric_Typography_2/Isometric_Typography_2@small@3x.jpg 3x, img/projects/type/Isometric_Typography_2/Isometric_Typography_2@small@2x.jpg 2x, img/projects/type/Isometric_Typography_2/Isometric_Typography_2@small@1x.jpg 1x">

      <img src="img/projects/type/Isometric_Typography_2/Isometric_Typography_2.jpg" alt="Isometric Typography 2" width="2000"
        height="2000">
    </picture>
  </div>

  <div class="gallery-item typography" data-src="img/projects/type/Different_Text_Styles/Different_Text_Styles.jpg"
    data-sub-html="Different Text Styles | Ps">
    <p class="gallery__item-title">
      Different Text Styles | <span>Ps</span>
    </p>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/type/Different_Text_Styles/Different_Text_Styles@large@3x.webp 3x, img/projects/type/Different_Text_Styles/Different_Text_Styles@large@2x.webp 2x, img/projects/type/Different_Text_Styles/Different_Text_Styles@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/type/Different_Text_Styles/Different_Text_Styles@large@3x.jpg 3x, img/projects/type/Different_Text_Styles/Different_Text_Styles@large@2x.jpg 2x, img/projects/type/Different_Text_Styles/Different_Text_Styles@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/type/Different_Text_Styles/Different_Text_Styles@small@3x.webp 3x, img/projects/type/Different_Text_Styles/Different_Text_Styles@small@2x.webp 2x, img/projects/type/Different_Text_Styles/Different_Text_Styles@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/type/Different_Text_Styles/Different_Text_Styles@small@3x.jpg 3x, img/projects/type/Different_Text_Styles/Different_Text_Styles@small@2x.jpg 2x, img/projects/type/Different_Text_Styles/Different_Text_Styles@small@1x.jpg 1x">

      <img src="img/projects/type/Different_Text_Styles/Different_Text_Styles.jpg" alt="Different Text Styles"
        width="2000" height="2000">
    </picture>
  </div>

  <div class="gallery-item interface"
    data-src="img/projects/interface/100_Daily_UI_Challenge/100_Daily_UI_Challenge.jpg" data-sub-html="100 Daily UI Challenge | Figma <a href='https://www.behance.net/gallery/117070149/DailyUI-100-%28Redesign-Daily-UI-Landing-Page%29'
    class='link link--button link--small' target='_blank' rel='noopener'>Behance</a>">
    <div class="gallery__item-info">
      <p>
        100 Daily UI Challenge | <span>Figma</span>
      </p>
      <a href="https://www.behance.net/gallery/117070149/DailyUI-100-%28Redesign-Daily-UI-Landing-Page%29"
        class="link link--button" target="_blank" rel="noopener">Behance</a>
    </div>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/interface/100_Daily_UI_Challenge/100_Daily_UI_Challenge@large@3x.webp 3x, img/projects/interface/100_Daily_UI_Challenge/100_Daily_UI_Challenge@large@2x.webp 2x, img/projects/interface/100_Daily_UI_Challenge/100_Daily_UI_Challenge@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/interface/100_Daily_UI_Challenge/100_Daily_UI_Challenge@large@3x.jpg 3x, img/projects/interface/100_Daily_UI_Challenge/100_Daily_UI_Challenge@large@2x.jpg 2x, img/projects/interface/100_Daily_UI_Challenge/100_Daily_UI_Challenge@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/interface/100_Daily_UI_Challenge/100_Daily_UI_Challenge@small@3x.webp 3x, img/projects/interface/100_Daily_UI_Challenge/100_Daily_UI_Challenge@small@2x.webp 2x, img/projects/interface/100_Daily_UI_Challenge/100_Daily_UI_Challenge@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/interface/100_Daily_UI_Challenge/100_Daily_UI_Challenge@small@3x.jpg 3x, img/projects/interface/100_Daily_UI_Challenge/100_Daily_UI_Challenge@small@2x.jpg 2x, img/projects/interface/100_Daily_UI_Challenge/100_Daily_UI_Challenge@small@1x.jpg 1x">

      <img src="img/projects/interface/100_Daily_UI_Challenge/100_Daily_UI_Challenge.jpg" alt="100 Daily UI Challenge"
        width="1920" height="1080">
    </picture>
  </div>

  <div class="gallery-item interface" data-src="img/projects/interface/logos_Vol_1/logos_Vol_1.jpg" data-sub-html="<div class='gallery__item-info-slide'>logos Vol.1 | Figma <a href='https://www.behance.net/gallery/117284823/logos-Vol1-%2842021%29'
    class='link link--button link--small' target='_blank' rel='noopener'>Behance</a>">
    <div class="gallery__item-info">
      <p>
        logos Vol.1 | <span>Figma</span>
      </p>
      <a href="https://www.behance.net/gallery/117284823/logos-Vol1-%2842021%29" class="link link--button"
        target="_blank" rel="noopener">Behance</a>
    </div>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/interface/logos_Vol_1/logos_Vol_1@large@3x.webp 3x, img/projects/interface/logos_Vol_1/logos_Vol_1@large@2x.webp 2x, img/projects/interface/logos_Vol_1/logos_Vol_1@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/interface/logos_Vol_1/logos_Vol_1@large@3x.jpg 3x, img/projects/interface/logos_Vol_1/logos_Vol_1@large@2x.jpg 2x, img/projects/interface/logos_Vol_1/logos_Vol_1@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/interface/logos_Vol_1/logos_Vol_1@small@3x.webp 3x, img/projects/interface/logos_Vol_1/logos_Vol_1@small@2x.webp 2x, img/projects/interface/logos_Vol_1/logos_Vol_1@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/interface/logos_Vol_1/logos_Vol_1@small@3x.jpg 3x, img/projects/interface/logos_Vol_1/logos_Vol_1@small@2x.jpg 2x, img/projects/interface/logos_Vol_1/logos_Vol_1@small@1x.jpg 1x">

      <img src="img/projects/interface/logos_Vol_1/logos_Vol_1.jpg" alt="logos Vol.1" width="1920" height="1080">
    </picture>
  </div>

  <div class="gallery-item modeling" data-src="img/projects/modeling/Desert_of_Crystals/Desert_of_Crystals.jpg" data-sub-html="Desert of Crystals | Blender">
    <div class="gallery__item-info">
      <p>
        Desert of Crystals | <span>Blender</span>
      </p>
    </div>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/modeling/Desert_of_Crystals/Desert_of_Crystals@large@3x.webp 3x, img/projects/modeling/Desert_of_Crystals/Desert_of_Crystals@large@2x.webp 2x, img/projects/modeling/Desert_of_Crystals/Desert_of_Crystals@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/modeling/Desert_of_Crystals/Desert_of_Crystals@large@3x.jpg 3x, img/projects/modeling/Desert_of_Crystals/Desert_of_Crystals@large@2x.jpg 2x, img/projects/modeling/Desert_of_Crystals/Desert_of_Crystals@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/modeling/Desert_of_Crystals/Desert_of_Crystals@small@3x.webp 3x, img/projects/modeling/Desert_of_Crystals/Desert_of_Crystals@small@2x.webp 2x, img/projects/modeling/Desert_of_Crystals/Desert_of_Crystals@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/modeling/Desert_of_Crystals/Desert_of_Crystals@small@3x.jpg 3x, img/projects/modeling/Desert_of_Crystals/Desert_of_Crystals@small@2x.jpg 2x, img/projects/modeling/Desert_of_Crystals/Desert_of_Crystals@small@1x.jpg 1x">

      <img src="img/projects/modeling/Desert_of_Crystals/Desert_of_Crystals.jpg" alt="Desert of Crystals" width="1600" height="1200">
    </picture>
  </div>

  <div class="gallery-item modeling" data-src="img/projects/modeling/Sofa/Sofa.jpg" data-sub-html="Sofa | Blender">
    <div class="gallery__item-info">
      <p>
        Sofa | <span>Blender</span>
      </p>
    </div>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/modeling/Sofa/Sofa@large@3x.webp 3x, img/projects/modeling/Sofa/Sofa@large@2x.webp 2x, img/projects/modeling/Sofa/Sofa@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/modeling/Sofa/Sofa@large@3x.jpg 3x, img/projects/modeling/Sofa/Sofa@large@2x.jpg 2x, img/projects/modeling/Sofa/Sofa@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/modeling/Sofa/Sofa@small@3x.webp 3x, img/projects/modeling/Sofa/Sofa@small@2x.webp 2x, img/projects/modeling/Sofa/Sofa@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/modeling/Sofa/Sofa@small@3x.jpg 3x, img/projects/modeling/Sofa/Sofa@small@2x.jpg 2x, img/projects/modeling/Sofa/Sofa@small@1x.jpg 1x">

      <img src="img/projects/modeling/Sofa/Sofa.jpg" alt="Sofa" width="1920" height="1080">
    </picture>
  </div>

  <div class="gallery-item modeling" data-src="img/projects/modeling/Mug/Mug.jpg" data-sub-html="Mug | Blender">
    <div class="gallery__item-info">
      <p>
        Mug | <span>Blender</span>
      </p>
    </div>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/modeling/Mug/Mug@large@3x.webp 3x, img/projects/modeling/Mug/Mug@large@2x.webp 2x, img/projects/modeling/Mug/Mug@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/modeling/Mug/Mug@large@3x.jpg 3x, img/projects/modeling/Mug/Mug@large@2x.jpg 2x, img/projects/modeling/Mug/Mug@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/modeling/Mug/Mug@small@3x.webp 3x, img/projects/modeling/Mug/Mug@small@2x.webp 2x, img/projects/modeling/Mug/Mug@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/modeling/Mug/Mug@small@3x.jpg 3x, img/projects/modeling/Mug/Mug@small@2x.jpg 2x, img/projects/modeling/Mug/Mug@small@1x.jpg 1x">

      <img src="img/projects/modeling/Mug/Mug.jpg" alt="Mug" width="1920" height="1080">
    </picture>
  </div>

  <div class="gallery-item modeling" data-src="img/projects/modeling/Sushi/Sushi.jpg" data-sub-html="Sushi | Blender">
    <div class="gallery__item-info">
      <p>
        Sushi | <span>Blender</span>
      </p>
    </div>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/modeling/Sushi/Sushi@large@3x.webp 3x, img/projects/modeling/Sushi/Sushi@large@2x.webp 2x, img/projects/modeling/Sushi/Sushi@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/modeling/Sushi/Sushi@large@3x.jpg 3x, img/projects/modeling/Sushi/Sushi@large@2x.jpg 2x, img/projects/modeling/Sushi/Sushi@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/modeling/Sushi/Sushi@small@3x.webp 3x, img/projects/modeling/Sushi/Sushi@small@2x.webp 2x, img/projects/modeling/Sushi/Sushi@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/modeling/Sushi/Sushi@small@3x.jpg 3x, img/projects/modeling/Sushi/Sushi@small@2x.jpg 2x, img/projects/modeling/Sushi/Sushi@small@1x.jpg 1x">

      <img src="img/projects/modeling/Sushi/Sushi.jpg" alt="Sushi" width="1920" height="1080">
    </picture>
  </div>

  <div class="gallery-item modeling" data-src="img/projects/modeling/Figma_Icon/Figma_Icon.jpg" data-sub-html="Figma Icon | Blender">
    <div class="gallery__item-info">
      <p>
        Figma Icon | <span>Blender</span>
      </p>
    </div>
    <picture>
      <source type="image/webp" media="(min-width: 2160px)"
        srcset="img/projects/modeling/Figma_Icon/Figma_Icon@large@3x.webp 3x, img/projects/modeling/Figma_Icon/Figma_Icon@large@2x.webp 2x, img/projects/modeling/Figma_Icon/Figma_Icon@large@1x.webp 1x">
      <source media="(min-width: 2160px)"
        srcset="img/projects/modeling/Figma_Icon/Figma_Icon@large@3x.jpg 3x, img/projects/modeling/Figma_Icon/Figma_Icon@large@2x.jpg 2x, img/projects/modeling/Figma_Icon/Figma_Icon@large@1x.jpg 1x">

      <source type="image/webp" media="(min-width: 320px)"
        srcset="img/projects/modeling/Figma_Icon/Figma_Icon@small@3x.webp 3x, img/projects/modeling/Figma_Icon/Figma_Icon@small@2x.webp 2x, img/projects/modeling/Figma_Icon/Figma_Icon@small@1x.webp 1x">
      <source media="(min-width: 320px)"
        srcset="img/projects/modeling/Figma_Icon/Figma_Icon@small@3x.jpg 3x, img/projects/modeling/Figma_Icon/Figma_Icon@small@2x.jpg 2x, img/projects/modeling/Figma_Icon/Figma_Icon@small@1x.jpg 1x">

      <img src="img/projects/modeling/Figma_Icon/Figma_Icon.jpg" alt="Figma Icon" width="1024" height="1024">
    </picture>
  </div>

</div>