<header class="header">
  <div class="container">
    <div class="header__top">
      <button class="toggle lang" data-key="open">Открыть</button>

      <div class="header__logo">
        <img src="../img/logo.svg" alt="Сергей Примиренков" width="27" height="23">
      </div>

      <div class="header__translate">
        <a href="#" class="link link--translate link--is-checked translate" id="ru">Ru</a>
        <a href="#" class="link link--translate translate" id="en">En</a>
      </div>

    </div>
    <h1 class="header__title lang" data-key="name">Сергей Примиренков</h1>
    <p class="header__subtitle lang" data-key="desc">UI/UX. Графика. Фотообработка. Иллюстрация. Рекламные креативы.</p>

    <!-- <ul class="header__contacts">
      <li>
        <a href="tel:+79507475220" class="link header__tel" title="Позвонить мне">+7 (950) 747 5220</a>
      </li>
      <li>
        <a href="mailto:sergmiren3@gmail.com" class="link header__email" title="Написать мне">
          sergmiren3@gmail.com
        </a>
      </li>
    </ul>
    <ul class="header__links">
      <li>
        <a href="https://www.behance.net/primirenkov" class="link header__social" target="_blank" rel="noopener">
          Behance
        </a>
      </li>
      <li>
        <a href="https://vk.com/primirenkov" class="link header__social" target="_blank" rel="noopener">
          Vkontakte</a>
      </li>
      <li>
        <a href="https://twitter.com/prim_sv" class="link header__social" target="_blank" rel="noopener">
          Twitter</a>
      </li>
    </ul> -->
  </div>
</header>