<title>{{ title }}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="description" content="Сергей Примиренков. UI/UX. Дизайн. Фотообработка. Илююстрация. Рекламные креативы.">
<meta name="keywords" content="ui, ux, дизайн, фриланс, рекламные креативы портфолио, магнитогорск">
<meta name="author" content="Сергей Примиренков">
<link rel="icon" href="/favicon.ico?" type="image/x-icon">
<link rel="preload" href="/css/libs.min.css" as="style" />
<link rel="preload" href="/css/app.css" as="style" />
<link rel="stylesheet preload" href="/fonts/Museo.woff" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="/css/libs.min.css" />
<link rel="stylesheet" href="/css/app.css" />