<nav id="menu" class="menu slideout-menu slideout-menu-left nav" data-simplebar>
  <section class="menu-section nav__section">
    <h2 class="menu-section-title nav__title lang" data-key="filter">Фильтр</h2>
    <div class="menu-section-list menu-section-list--uppercase link-group filter-link-group">
      <a href="#" class="nav__link nav__filter is-checked lang" data-filter="*" data-key="all">Все</a>
      <a href="#" class="nav__link nav__filter lang" data-filter=".photo" data-key="photo">Фото</a>
      <a href="#" class="nav__link nav__filter lang" data-filter=".graphic" data-key="graphic">Графика</a>
      <a href="#" class="nav__link nav__filter lang" data-filter=".illustration" data-key="ill">Иллюстрации</a>
      <a href="#" class="nav__link nav__filter lang" data-filter=".typography" data-key="typo">Типографика</a>
      <a href="#" class="nav__link nav__filter lang" data-filter=".interface" data-key="interfaces">Интерфейсы</a>
    </div>
  </section>

  <section class="menu-section nav__section">
    <h2 class="menu-section-title nav__title lang" data-key="social">Сети</h2>
    <div class="menu-section-list menu-section-list--uppercase">
      <a href="https://www.behance.net/primirenkov" class="nav__link" target="_blank" rel="noopener">Behance</a>
      <a href="https://codepen.io/black_c" class="nav__link" target="_blank" rel="noopener">Codepen</a>
      <a href="https://github.com/sergeyprimirenkov" class="nav__link" target="_blank" rel="noopener">Github</a>
      <a href="https://twitter.com/prim_sv" class="nav__link" target="_blank" rel="noopener">Twitter</a>
      <a href="https://vk.com/primirenkov" class="nav__link" target="_blank" rel="noopener">Vkontakte</a>
    </div>
  </section>

  <section class="menu-section nav__section">
    <h2 class="menu-section-title nav__title lang" data-key="contacts">Контакты</h2>
    <div class="menu-section-list">
      <a href="tel:+79507475220" title="Позвонить мне" class="nav__link">+7 (950) 747 5220</a>
      <a href="mailto:sergmiren3@gmail.com" class="nav__link">sergmiren3@gmail.com</a>
      <a href="https://t.me/sack_boy" class="nav__link" target="_blank" rel="noopener">t.me/sack_boy</a>
    </div>
  </section>
</nav>