@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("../assets/fonts/AvenirNextCyr-Bold.eot");
  src: local("Avenir Next Cyr Bold"), local("AvenirNextCyr-Bold"), url("../assets/fonts/AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextCyr-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("../assets/fonts/AvenirNextCyr-Thin.eot");
  src: local("Avenir Next Cyr Thin"), local("AvenirNextCyr-Thin"), url("../assets/fonts/AvenirNextCyr-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextCyr-Thin.woff") format("woff"), url("../assets/fonts/AvenirNextCyr-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Uni Sans Heavy CAPS';
  src: url("../assets/fonts/UniSansHeavyCAPS.eot");
  src: local("Uni Sans Heavy CAPS"), local("UniSansHeavyCAPS"), url("../assets/fonts/UniSansHeavyCAPS.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/UniSansHeavyCAPS.woff") format("woff"), url("../assets/fonts/UniSansHeavyCAPS.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Paddis Handwritten';
  src: url("../assets/fonts/PaddisHandwritten.eot");
  src: local("Paddis Handwritten Medium"), local("PaddisHandwritten"), url("../assets/fonts/PaddisHandwritten.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/PaddisHandwritten.woff") format("woff"), url("../assets/fonts/PaddisHandwritten.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'LemonMilk';
  src: url("../assets/fonts/LemonMilk.eot");
  src: url("../assets/fonts/LemonMilk.eot") format("embedded-opentype"), url("../assets/fonts/LemonMilk.woff2") format("woff2"), url("../assets/fonts/LemonMilk.woff") format("woff"), url("../assets/fonts/LemonMilk.ttf") format("truetype"), url("../assets/fonts/LemonMilk.svg#LemonMilk") format("svg"); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Avenir Next Cyr Bold', Arial, sans-serif;
  color: #fff;
  font-size: 12px;
  position: relative; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.container {
  width: 1000px;
  margin: 0 auto; }
  @media (max-width: 1023px) {
    .container {
      width: auto; } }

.banner {
  overflow: hidden; }
  .banner--library {
    overflow: visible; }

.main-bg {
  position: relative;
  padding-bottom: 290px;
  width: 100%;
  background: url(../assets/images/main-bg.png) center/cover no-repeat, -webkit-gradient(linear, left top, left bottom, from(#3257c8), to(#448dcd));
  background: url(../assets/images/main-bg.png) center/cover no-repeat, linear-gradient(to bottom, #3257c8, #448dcd); }
  .main-bg--library {
    padding-bottom: 15px; }

@media (max-width: 1023px) {
  .main-bg {
    padding-bottom: 260px; } }

.box {
  min-height: 350px; }

@media (max-width: 1023px) {
  .box {
    min-height: 120px; } }

.page-header {
  padding-top: 35px;
  padding-right: 30px;
  padding-left: 55px;
  margin-bottom: 60px;
  padding-bottom: 10px; }

@media (max-width: 1023px) {
  .page-header {
    margin-bottom: 0; } }

.main-nav {
  float: left;
  min-height: 60px; }
  .main-nav__list {
    line-height: 55px; }
  .main-nav__item {
    list-style: none;
    display: inline-block;
    margin-right: 40px; }
  .main-nav__item:last-child {
    margin-right: 0; }
  .main-nav__link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: transparent;
    -webkit-transition: border 0.2s;
    transition: border 0.2s; }
    .main-nav__link:hover {
      border-bottom: 4px solid #fff;
      cursor: pointer; }
    .main-nav__link--active {
      border-bottom: 4px solid #fff; }
      .main-nav__link--active:hover {
        cursor: default; }

.main-nav__toggle {
  display: none; }

@media (max-width: 1023px) {
  .main-nav {
    width: auto; }
  .main-nav__toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 62px;
    height: 52px;
    z-index: 999;
    display: block;
    font-size: 0;
    border: none;
    background: transparent; }
    .main-nav__toggle::before {
      display: block;
      content: '';
      position: absolute;
      top: 15px;
      left: 12px;
      width: 36px;
      height: 4px;
      background: #ffffff;
      -webkit-box-shadow: 0 10px 0 0 #fff, 0 20px 0 0 #fff;
              box-shadow: 0 10px 0 0 #fff, 0 20px 0 0 #fff; }
    .main-nav__toggle:hover {
      cursor: pointer; }
  .main-nav__item {
    display: block;
    margin: 0;
    line-height: 50px;
    border-bottom: 1px solid #68a1d7; }
    .main-nav__item:last-child {
      border: none; }
    .main-nav__item:hover {
      background: #4e8cd3; }
  .main-nav__link {
    display: block;
    padding-left: 16px; }
    .main-nav__link:hover {
      border: none; }
    .main-nav__link--active {
      background: #4e8cd3;
      border: none; }
  .main-nav--closed .main-nav__list {
    display: none; }
    .main-nav--closed .main-nav__list--active {
      display: block; } }

.main-nav--opened .main-nav__list {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  z-index: 999;
  background: #4289cd; }

.main-nav--opened .main-nav__toggle {
  background: #4289cd;
  border-bottom: 1px solid #68a1d7; }

.logout-btn {
  position: relative;
  float: right; }
  .logout-btn__description {
    position: absolute;
    height: 70px;
    width: 275px;
    background: url(../assets/images/left-arrow.png) left center no-repeat, url(../assets/images/right-arrow.png) right bottom no-repeat;
    top: 30px;
    right: -5px;
    padding-left: 40px;
    padding-right: 35px;
    padding-bottom: 4px;
    text-align: center;
    padding-top: 35px; }
  .logout-btn:hover {
    cursor: pointer; }

@media (max-width: 1023px) {
  .logout-btn {
    position: absolute;
    top: 25px;
    right: 15px; }
  .logout-btn__description {
    width: 172px;
    padding: 0;
    font-size: 10px;
    top: 35px;
    right: 14px;
    background: none; }
    .logout-btn__description::before, .logout-btn__description::after {
      display: block;
      content: '';
      position: absolute;
      z-index: 100; }
    .logout-btn__description::before {
      top: -32px;
      left: -20px;
      width: 21px;
      height: 44px;
      background: url(../assets/images/left-arrow.png) 0px center no-repeat;
      background-size: 27px 44px; }
    .logout-btn__description::after {
      top: 0;
      right: -9px;
      width: 19px;
      height: 21px;
      background: url(../assets/images/right-arrow.png) 0px center no-repeat;
      background-size: 19px 21px; } }

.logout {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 60px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  width: 230px;
  border: 5px solid #ffed00;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: url(../assets/images/btn-bg.png) no-repeat, -webkit-gradient(linear, left top, right top, from(#1da2e2), to(#1d9cdf));
  background: url(../assets/images/btn-bg.png) no-repeat, linear-gradient(to right, #1da2e2, #1d9cdf);
  background-position: 85% center; }

@media (max-width: 1023px) {
  .logout {
    display: inline;
    padding-top: 10px;
    padding-right: 80px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 9px;
    background-size: 29px 20px; } }

.slogan {
  width: 545px;
  float: right;
  text-align: left;
  position: relative; }
  .slogan__logo {
    position: absolute;
    top: -60px;
    left: -440px; }
  .slogan__text {
    font-family: 'Paddis Handwritten';
    font-size: 44px;
    padding-right: 45px;
    background: url(../assets/images/arrow-down.png) right 20px no-repeat; }
  .slogan__title {
    font-family: 'Uni Sans Heavy CAPS';
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 5px; }
  .slogan__subtitle {
    font-family: 'Uni Sans Heavy CAPS';
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 11px;
    background: url(../assets/images/wave-line.png) left bottom no-repeat;
    background-size: 380px 11px; }

@media (max-width: 1023px) {
  .slogan {
    width: auto;
    float: none;
    text-align: center; }
  .slogan__logo {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 264px;
    height: 149px; }
  .slogan__title {
    margin-top: 0;
    font-size: 32px;
    text-shadow: -3px 2px 12px rgba(0, 0, 0, 0.53); }
  .slogan__subtitle {
    display: none; }
  .slogan__text {
    font-size: 26px;
    background: url(../assets/images/arrow-down-slogan.png) center no-repeat;
    background-position: 175px 5px;
    background-size: 27px 11px; }
  .slogan__text-wrapper {
    position: relative;
    bottom: -120px;
    padding-left: 10px;
    margin: 0 auto;
    width: 295px;
    text-align: left; } }

.promo {
  padding-bottom: 75px;
  min-width: 1160px;
  position: absolute;
  top: 350px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  background: url(../assets/images/man.png) left top no-repeat, url(../assets/images/girl.png) right 10px no-repeat; }
  .promo__wrapper {
    width: 545px;
    margin: 0 auto; }
  .promo__center {
    text-align: center; }

@media (max-width: 1023px) {
  .promo {
    min-width: 320px;
    max-width: 1024px;
    background: none; }
  .promo__wrapper {
    width: 320px;
    margin: 0 auto; }
  .promo__wrapper .video {
    display: block;
    width: 271px;
    height: 153px;
    margin: 0 auto;
    position: relative;
    top: 105px; }
  .promo__center {
    position: relative;
    top: 120px; } }

.time {
  font-size: 22px;
  padding-left: 35px;
  padding-right: 35px; }
  .time__date {
    display: inline-block;
    text-align: center;
    margin-right: 50px;
    line-height: 20px; }
  .time__value {
    font-family: 'Uni Sans Heavy CAPS';
    font-size: 56px;
    display: inline-block; }
  .time__text {
    font-size: 12px; }
  .time__about {
    display: inline-block;
    text-align: left;
    width: 120px;
    line-height: 35px;
    font-size: 27px; }

@media (max-width: 1023px) {
  .time {
    position: absolute;
    top: -50px;
    left: 50%;
    padding: 0;
    margin-left: -100px;
    width: 200px;
    text-align: center; }
  .time__about {
    display: block;
    position: absolute;
    top: -50px;
    width: 200px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center; }
  .time__date {
    margin: 0;
    margin-right: 10px; } }

.video {
  height: 304px;
  width: 100%;
  margin-bottom: 28px;
  position: relative;
  top: 25px;
  background: black; }
  .video:hover {
    cursor: pointer; }
  .video--medium {
    width: 327px;
    height: 184px;
    background: black; }
  .video--mini {
    width: 200px;
    height: 113px;
    margin-bottom: 19px;
    background: black; }
    .video--mini:hover {
      cursor: pointer; }

.info {
  color: #000;
  font-size: 18px;
  text-align: center;
  width: 390px;
  margin: 0 auto;
  margin-bottom: 17px;
  position: relative; }
  .info:after {
    content: "";
    width: 47px;
    height: 44px;
    position: absolute;
    top: 30px;
    right: -60px;
    background: url(../assets/images/arrow-down-blue.png) no-repeat; }
  .info__link {
    color: #4186cc; }
    .info__link:hover {
      text-decoration: none; }

@media (max-width: 1023px) {
  .info {
    top: 120px;
    width: auto;
    padding-left: 23px;
    padding-right: 23px;
    font-size: 12px; }
    .info::after {
      top: 35px;
      right: 50px;
      width: 29px;
      height: 32px;
      background-size: 29px 32px; } }

.enter {
  width: 150px;
  background: transparent;
  border: 3px solid #fb8605;
  border-bottom: 3px solid #f1304c;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  padding: 13px 0;
  font-size: 12px;
  text-transform: uppercase; }
  .enter:hover {
    cursor: pointer; }

@media (max-width: 1023px) {
  .enter {
    width: auto;
    padding: 8px 55px;
    font-size: 9px; } }

.content {
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center; }
  .content__title {
    font-size: 30px;
    color: #000;
    padding-bottom: 22px;
    margin-bottom: 55px;
    font-weight: normal;
    background: url(../assets/images/blue-line.png) center bottom no-repeat; }
  .content__txt {
    color: #000;
    font-size: 16px;
    margin-bottom: 55px; }
  .content__paragraph {
    width: 790px;
    font-size: 18px;
    color: #000;
    margin: 0 auto; }

@media (max-width: 1023px) {
  .content__title {
    margin-bottom: 35px; }
  .content__txt {
    margin: 0; }
  .content__paragraph {
    width: auto;
    font-size: 12px; } }

.manual {
  min-height: 320px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 55px;
  padding-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px; }
  .manual__step {
    width: 223px;
    height: 223px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    padding-top: 25px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px; }
    .manual__step img {
      position: absolute;
      z-index: 1;
      left: 180px;
      top: 15px; }
    .manual__step--first {
      background: -webkit-gradient(linear, left top, right top, from(#f0cf30), to(#c2cc30));
      background: linear-gradient(to right, #f0cf30, #c2cc30);
      position: relative; }
      .manual__step--first:after {
        content: "";
        width: 226px;
        height: 55px;
        position: absolute;
        top: 212px;
        left: 127px;
        background: url(../assets/images/arrow1.png) no-repeat; }
    .manual__step--second {
      background: -webkit-gradient(linear, left top, right top, from(#accb30), to(#7cc730));
      background: linear-gradient(to right, #accb30, #7cc730);
      position: relative;
      padding-right: 15px; }
      .manual__step--second:after {
        content: "";
        width: 226px;
        height: 55px;
        position: absolute;
        top: -45px;
        left: 145px;
        background: url(../assets/images/arrow2.png) no-repeat; }
    .manual__step--third {
      background: -webkit-gradient(linear, left top, right top, from(#70c630), to(#69c173));
      background: linear-gradient(to right, #70c630, #69c173);
      position: relative; }
      .manual__step--third .manual__text {
        padding: 0 2px; }
      .manual__step--third:after {
        content: "";
        width: 226px;
        height: 55px;
        position: absolute;
        top: 210px;
        left: 155px;
        background: url(../assets/images/arrow3.png) no-repeat; }
    .manual__step--fourth {
      background: -webkit-gradient(linear, left top, right top, from(#69bf97), to(#69bbd8));
      background: linear-gradient(to right, #69bf97, #69bbd8);
      padding-left: 40px;
      padding-right: 20px; }
  .manual__number {
    font-family: 'LemonMilk';
    font-size: 25px;
    margin-bottom: 10px; }
  .manual__title {
    font-size: 18px;
    margin-bottom: 20px; }
  .manual__text {
    font-size: 14px; }
  .manual .icon {
    position: static;
    margin-top: 20px; }

.manual__mentor-mobile {
  display: none; }

.manual__mentor-desktop {
  display: block; }

@media (max-width: 1023px) {
  .manual {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
    margin-bottom: 10px; }
  .manual__title {
    margin-bottom: 10px;
    font-size: 12px; }
  .manual__number {
    font-size: 23px; }
  .manual__text {
    font-size: 12px; }
  .manual__step {
    width: 182px;
    height: 182px;
    margin-bottom: 30px;
    z-index: 10; }
    .manual__step::after {
      width: 21px;
      height: 17px;
      top: 188px;
      left: 80px;
      background: url(../assets/images/arrow-down.png) center no-repeat; }
  .manual__step--second,
  .manual__step--fourth {
    padding-left: 20px; }
  .manual .icon {
    margin-top: 3px; }
  .manual__mentor-desktop {
    display: none; }
  .manual__step--first img {
    top: 135px;
    left: 120px; }
  .manual__step--second img {
    left: -90px;
    top: 124px;
    z-index: 10; }
  .manual__step--third {
    z-index: 5; }
  .manual__step--third img {
    top: 180px;
    left: 123px; }
  .manual__mentor-mobile {
    display: block; } }

footer {
  height: 157px;
  background: url(../assets/images/footer-bg.png) center no-repeat; }

.popup-rules {
  position: absolute;
  top: 119px;
  left: 50%;
  padding-top: 62px;
  padding-left: 41px;
  padding-right: 69px;
  margin-left: -480px;
  width: 960px;
  height: 760px;
  color: #000000;
  background: #ffffff;
  z-index: 10001;
  display: none; }
  .popup-rules--open {
    display: block; }

.popup-rules__title {
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center; }

.popup-rules__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 156px;
  background: url(../assets/images/footer-bg.png); }

.popup-rules__text-wrapper {
  width: 895px;
  height: 455px;
  overflow-y: scroll; }

.popup-rules__text-wrapper .popup-rules__text {
  padding-right: 30px; }

.popup-rules__text {
  margin-bottom: 30px;
  font-size: 14px; }
  .popup-rules__text:last-child {
    margin: 0; }

.popup-rules__discet,
.popup-rules__print {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer; }

.popup-rules__discet {
  background: url(../assets/images/discet.png) center no-repeat;
  margin-right: 20px; }

.popup-rules__print {
  background: url(../assets/images/print.png) center no-repeat; }

.popup-rules__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 41px;
  height: 41px;
  background: #ffffff;
  border: 2px solid #1e0e00;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  opacity: 0.3;
  cursor: pointer; }
  .popup-rules__close::before, .popup-rules__close::after {
    display: block;
    content: '';
    position: absolute;
    top: 9px;
    width: 2px;
    height: 20px;
    background: #1e0e00; }
  .popup-rules__close::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    left: 48%; }
  .popup-rules__close::after {
    right: 47%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .popup-rules__close:hover {
    opacity: 1; }

.popup-rules__button-wrapper {
  width: 100px;
  height: 32px;
  position: absolute;
  top: 15px;
  right: 60px; }

.popup-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000; }

@media (max-width: 1023px) {
  .popup-rules {
    width: 80%;
    min-width: 280px;
    height: auto;
    top: 53px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .popup-rules__title {
    padding-bottom: 90px;
    margin-bottom: 0; }
  .popup-rules__text-wrapper {
    width: auto;
    max-height: 406px; }
  .popup-rules__button-wrapper {
    width: 100px;
    height: 32px;
    top: 75px;
    right: 50%;
    margin-right: -60px; }
  .popup-rules__footer {
    display: none; }
  .scrollbar-rail > .scroll-element .scroll-element_size {
    background-color: #ab0b29; }
  .scrollbar-rail > .scroll-element .scroll-bar {
    background-color: #da022b; }
  .popup-rules__discet, .popup-rules__print {
    top: 70px; }
  .popup-rules__discet {
    right: 145px; }
  .popup-rules__print {
    right: 95px; } }

.library {
  padding-top: 38px;
  padding-bottom: 34px;
  font-size: 14px;
  color: #000000; }

.library__title {
  position: relative;
  margin-bottom: 69px;
  font-size: 30px;
  text-align: center; }
  .library__title::after {
    display: block;
    content: '';
    width: 267px;
    height: 13px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -133px;
    background: url(../assets/images/blue-line2.png); }

.library__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 860px;
  margin: 0 auto;
  font-size: 0; }

.library__item {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 37px; }
  .library__item:nth-child(4n) {
    margin-right: 0; }

.library__item-title {
  font-size: 16px;
  margin-bottom: 18px; }

.library__item-mentor {
  font-size: 14px; }

.library__item-description {
  font-size: 14px; }

@media (max-width: 1023px) {
  .library {
    margin-top: 320px; }
  .library__title {
    margin-bottom: 90px; }
  .library__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto; }
  .library__item {
    width: 271px;
    margin-right: 0; }
  .library__item .video--mini {
    width: 271px;
    height: 153px; } }

.gallery__list {
  position: relative;
  width: 960px;
  margin: 0 auto; }

.gallery__item::after {
  display: block;
  content: '';
  clear: both; }

.gallery__item-logo,
.gallery__item-video,
.gallery__item-hello {
  float: left;
  margin-right: 30px; }

.gallery__item-logo {
  position: relative;
  top: 16px;
  left: 10px;
  margin-left: 20px; }

.gallery__item-hello {
  margin: 0;
  position: relative;
  top: 20px;
  width: 272px; }

.gallery__hello-title {
  display: block;
  font-size: 20px;
  margin-bottom: 26px; }

.gallery__hello {
  font-size: 14px; }

.gallery__list .swiper-container {
  height: 280px; }

.gallery__link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff; }
  .gallery__link:hover {
    border: none; }

.gallery__list .swiper-button-prev,
.gallery__list .swiper-container-rtl .swiper-button-next {
  background-image: url(../assets/images/left-arrow-gallery.png);
  top: 90px;
  left: -30px;
  right: auto; }

.gallery__list .swiper-button-next,
.gallery__list .swiper-container-rtl .swiper-button-prev {
  background-image: url(../assets/images/right-arrow-gallery.png);
  top: 90px;
  right: -30px;
  left: auto; }

@media (max-width: 1023px) {
  .main-bg--library {
    height: 560px;
    padding: 0; }
  .gallery__list {
    width: 320px;
    margin: 0 auto;
    position: relative; }
  .gallery__list .swiper-container {
    height: 735px;
    position: relative;
    top: -15px; }
  .gallery__item-logo {
    float: none;
    position: relative;
    top: 6px;
    left: 10px;
    margin-bottom: 30px; }
  .gallery__item-video {
    float: none;
    margin: 0; }
  .video--medium {
    display: block;
    margin: 0 auto;
    width: 271px;
    height: 184px; }
  .gallery__item-hello {
    float: none;
    top: 170px;
    margin: 0 auto;
    color: #000000; }
  .gallery__hello-title {
    font-size: 24px; }
  .gallery__link {
    display: block;
    width: 100px;
    position: relative;
    margin: 0 auto;
    padding: 8px 18px;
    margin-top: 20px;
    background: transparent;
    border: 3px solid #fb8605;
    border-bottom: 3px solid #f1304c;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    font-size: 9px;
    text-transform: uppercase;
    color: #000000; }
    .gallery__link:hover {
      border: 3px solid #fb8605;
      border-bottom: 3px solid #f1304c; }
  .gallery__list .swiper-button-prev {
    top: 482px;
    left: 40px;
    background-image: url(../assets/images/arrow-left-blue.png); }
  .gallery__list .swiper-button-next {
    top: 482px;
    right: 40px;
    background-image: url(../assets/images/arrow-right-blue.png); }
  .swiper-button-prev,
  .swiper-button-next {
    width: 11px;
    height: 21px;
    margin-top: 0;
    background-size: 11px 21px; }
  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    border: 2px solid #4289cd; }
  .swiper-pagination-bullet-active {
    border: none; }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 220px; }
  .share-links {
    top: 390px; } }

.rating {
  position: relative;
  padding-top: 38px;
  width: 956px;
  margin: 0 auto;
  font-size: 14px;
  color: #000000; }

.rating__title {
  position: relative;
  margin-bottom: 69px;
  font-size: 30px;
  text-align: center; }
  .rating__title::after {
    display: block;
    content: '';
    width: 267px;
    height: 13px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -133px;
    background: url(../assets/images/blue-line2.png); }

.rating__search {
  position: relative;
  width: 760px;
  margin: 0 auto;
  margin-bottom: 15px; }
  .rating__search input {
    width: 100%;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #cccccc; }
    .rating__search input::-webkit-input-placeholder {
      font-size: 14px;
      color: #cccccc; }
    .rating__search input::-moz-placeholder {
      font-size: 14px;
      color: #cccccc; }
    .rating__search input:-ms-input-placeholder {
      font-size: 14px;
      color: #cccccc; }
    .rating__search input::placeholder {
      font-size: 14px;
      color: #cccccc; }
    .rating__search input::-webkit-search-cancel-button {
      display: none; }

.rating__search-button {
  display: block;
  position: absolute;
  top: 5px;
  right: 0;
  width: 24px;
  height: 24px;
  background: url(../assets/images/search.png) center no-repeat;
  border: none; }
  .rating__search-button:hover {
    cursor: pointer; }

@media (max-width: 1023px) {
  .rating {
    width: 320px; }
  .rating__search {
    width: 301px; } }

.social-link {
  display: inline-block;
  width: 32px;
  height: 32px;
  font-size: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  .social-link:first-child {
    margin-right: 10px; }
  .social-link--fb {
    background: url(../assets/images/facebook.png) center no-repeat; }
  .social-link--in {
    background: url(../assets/images/instagram.png) center no-repeat; }

.hand-written {
  position: relative;
  top: 5px;
  left: 20px;
  font-family: 'Paddis Handwritten', Arial, sans-serif;
  font-size: 44px;
  color: #4e91d0; }

.rating-table {
  position: relative;
  width: 796px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 70px;
  border-right: 3px solid #3506d1;
  border-bottom: 3px solid #ad0a89;
  border-left: 3px solid #e10019;
  border-top: 3px solid #a70c98;
  border-spacing: 0;
  font-weight: bold; }
  .rating-table::after {
    display: block;
    content: '';
    position: absolute;
    bottom: -77px;
    left: 0;
    right: 0;
    height: 75px;
    background: url(../assets/images/table-footer.png) center no-repeat; }

.rating-table th,
.rating-table td {
  padding: 5px 4px;
  text-align: center; }
  .rating-table th:nth-child(2),
  .rating-table td:nth-child(2) {
    text-align: left;
    padding-left: 16px; }

.rating-table td {
  border-left: 1px solid #e8e7e5;
  border-bottom: 1px solid #e8e7e5; }
  .rating-table td:last-child {
    border-right: 1px solid #e8e7e5;
    border-bottom: 1px solid #e8e7e5; }

.rating-table__header th {
  font-weight: 100;
  border: none;
  border-bottom: 1px solid #e8e7e5;
  color: #b2b2b2; }

.rating-table th:first-child,
.rating-table td:first-child {
  width: 60px; }

.rating-table th:nth-child(3),
.rating-table td:nth-child(3) {
  width: 113px; }

.rating-table th:last-child,
.rating-table td:last-child {
  width: 125px; }

.rating-table__favourite {
  border-color: #ff9c01; }
  .rating-table__favourite td {
    color: #ff9c01; }

.rating__more {
  display: block;
  position: absolute;
  bottom: -38px;
  left: 50%;
  width: 277px;
  height: 38px;
  padding-top: 14px;
  padding-bottom: 6px;
  margin-left: -138px;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#f13251), color-stop(51%, #f21d05), to(#fb8c05));
  background: linear-gradient(to top, #f13251 0%, #f21d05 51%, #fb8c05 100%);
  -webkit-border-bottom-right-radius: 25px;
          border-bottom-right-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
          border-bottom-left-radius: 25px; }

@media (max-width: 1023px) {
  .rating-table {
    width: 320px;
    font-size: 10px; }
  .rating-table td:first-child {
    width: 50px;
    padding: 5px 0; }
  .rating-table td:nth-child(2) {
    width: 121px; }
  .rating-table .social-link {
    width: 24px;
    height: 24px;
    background-size: 24px 24px; }
  .rating__more {
    width: 202px;
    height: 28px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: -101px;
    font-size: 9px;
    bottom: -28px; } }

.winners-week {
  position: relative;
  padding-bottom: 40px;
  text-align: center;
  color: #000000; }

.winners-week__title {
  position: relative;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 40px; }
  .winners-week__title::before, .winners-week__title::after {
    display: block;
    content: '';
    position: absolute; }
  .winners-week__title::after {
    bottom: -15px;
    left: 50%;
    margin-left: -245px;
    right: 0;
    width: 490px;
    height: 15px;
    background: url(../assets/images/blue-line-long.png) center no-repeat; }

.winners-week__list {
  position: relative;
  width: 677px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  font-size: 36px;
  text-align: left;
  color: #ff7002;
  text-transform: uppercase; }
  .winners-week__list li {
    position: relative;
    padding: 10px 0;
    padding-left: 205px;
    margin-bottom: 3px;
    border: 3px solid #ffa301;
    -webkit-border-radius: 34px;
            border-radius: 34px; }
    .winners-week__list li::before {
      display: block;
      content: '';
      position: absolute;
      top: 12px;
      left: 160px;
      width: 32px;
      height: 33px;
      background: url(../assets/images/cup.png) center no-repeat; }
    .winners-week__list li:last-child {
      margin: 0; }

.winners-week__list .social-link {
  position: absolute;
  top: 15px;
  z-index: 10; }
  .winners-week__list .social-link--fb {
    right: 59px; }
  .winners-week__list .social-link--in {
    right: 17px; }

.winners-week__wrapper {
  position: relative;
  width: 677px;
  margin-left: auto;
  margin-right: auto; }
  .winners-week__wrapper::before, .winners-week__wrapper::after {
    display: block;
    content: '';
    position: absolute;
    width: 228px;
    height: 349px; }
  .winners-week__wrapper::before {
    width: 339px;
    height: 403px;
    top: -104px;
    left: -155px;
    background: url(../assets/images/splash-left-mentor.png) center no-repeat;
    z-index: 100; }
  .winners-week__wrapper::after {
    top: -50px;
    right: -140px;
    background: url(../assets/images/splash-right.png) center no-repeat; }

.winners-week .swiper-pagination-bullet {
  border: 2px solid #4289cd; }

.winners-week .swiper-pagination-bullet-active {
  background: #4289cd;
  -webkit-box-shadow: none;
          box-shadow: none; }

.winners-week .swiper-button-prev,
.winners-week .swiper-button-next {
  width: 22px;
  height: 80px;
  top: 140px;
  background-size: 22px 80px;
  z-index: 100; }

.winners-week .swiper-button-prev {
  left: -140px;
  background: url(../assets/images/left-arrow-winners.png) center no-repeat; }

.winners-week .swiper-button-next {
  right: -140px;
  background: url(../assets/images/right-arrow-winners.png) center no-repeat; }

@media (max-width: 1023px) {
  .winners-week__title {
    font-size: 18px; }
  .hand-written {
    font-size: 27px;
    top: 3px;
    left: 10px; }
  .winners-week__title::after {
    margin-left: -150px;
    width: 300px;
    height: 10px;
    background-size: 300px 10px; }
  .winners-week__wrapper {
    width: 320px; }
  .winners-week__list {
    width: 282px; }
  .winners-week__list li {
    padding: 10px 0;
    padding-left: 55px;
    font-size: 16px; }
  .winners-week__list li::before {
    top: 7px;
    left: 20px;
    width: 24px;
    height: 25px;
    background-size: 24px 25px; }
  .winners-week__list .social-link {
    top: 2px;
    background-size: 24px 24px; }
  .winners-week__list .social-link--fb {
    right: 40px; }
  .winners-week__list .social-link--in {
    right: 8px; }
  .winners-week__wrapper::before,
  .winners-week__wrapper::after {
    display: none; }
  .winners-week .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0; }
  .winners-week .swiper-button-prev {
    background: url(../assets/images/arrow-left-blue.png) center no-repeat;
    top: 137px;
    left: 40px; }
  .winners-week .swiper-button-next {
    background: url(../assets/images/arrow-right-blue.png) center no-repeat;
    top: 137px;
    right: 40px; }
  .winners-week .swiper-container {
    height: 185px; } }

.gifts {
  position: relative;
  width: 926px;
  height: 333px;
  margin: 0 auto; }

.gifts__logo {
  position: absolute;
  top: -41px;
  left: -50px;
  z-index: 10; }

.gifts__list {
  position: absolute;
  width: 512px;
  height: 264px;
  list-style: none;
  z-index: 2; }

.gifts__list-item {
  position: absolute;
  bottom: 0;
  width: 157px;
  height: 157px;
  background: #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  .gifts__list-item:first-child {
    left: 0; }
  .gifts__list-item:nth-child(2) {
    width: 265px;
    height: 264px;
    left: 120px; }
  .gifts__list-item:last-child {
    right: -15px;
    width: 184px;
    height: 184px; }

.gifts__list-wrapper {
  position: absolute;
  top: 10px;
  right: 100px;
  width: 512px;
  height: 264px; }
  .gifts__list-wrapper::after {
    display: block;
    content: '';
    position: absolute;
    top: -70px;
    right: -50px;
    width: 504px;
    height: 295px;
    background: url(../assets/images/mentors-gifts.png) center top no-repeat;
    z-index: 1; }

@media (max-width: 1023px) {
  .gifts {
    width: 320px;
    height: 350px; }
  .gifts__logo {
    position: static;
    width: 234px;
    height: 131px;
    margin: 0 auto;
    margin-bottom: 30px; }
  .gifts__logo img {
    width: 234px;
    height: 131px; }
  .gifts__list-wrapper {
    width: 320px;
    height: 176px;
    position: static; }
  .gifts__list-wrapper::after {
    top: 74px;
    right: -108px;
    width: 466px;
    height: 284px;
    background: url(../assets/images/mentors-gifts-small.png) center top no-repeat; }
  .gifts__list {
    width: 320px;
    height: 176px; }
  .gifts__list-item:first-child {
    width: 105px;
    height: 105px;
    left: -14px; }
  .gifts__list-item:nth-child(2) {
    width: 176px;
    height: 176px;
    left: 70px; }
  .gifts__list-item:last-child {
    width: 123px;
    height: 123px;
    right: -14px; }
  .main-bg--gifts {
    height: auto;
    padding-bottom: 10px; } }

.share-links {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 340px;
  height: 50px;
  z-index: 100; }
  .share-links::before {
    display: block;
    content: '';
    position: absolute;
    top: 0px;
    left: 120px;
    width: 25px;
    height: 18px;
    background: url(../assets/images/left-arrow-share.png) center no-repeat; }

.share-text {
  display: inline-block;
  margin-left: 40px;
  width: 173px;
  height: 23px;
  background: url("../assets/images/share-text.png"); }

.share-link {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 3px;
  border: 2px solid #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  .share-link--yb {
    background: url(../assets/images/youtube.png) center no-repeat; }
  .share-link--fb {
    background: url(../assets/images/facebook.png) center no-repeat; }
  .share-link--in {
    background: url(../assets/images/instagram.png) center no-repeat; }

@media (max-width: 1023px) {
  .share-links {
    width: 280px;
    right: 0; }
  .share-text {
    width: 135px;
    height: 34px;
    position: relative;
    top: 11px;
    right: 5px;
    margin-left: 20px;
    background: url("../assets/images/share-text-small.png") center no-repeat; } }
